
.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;

  border: 0;
  background: 0;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
  }

  &:focus {
    outline: 0;
  }

  @media #{$mobile} {
    top: 14%;
  }
}


.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  transform: rotate(135deg);
}