/* Color */
$black: #000;
$white: #fff;

$gray: #b0b2b5;
$darkgray: #8c8f94;

$green: #6fc754;
$blue: #267df4;

$yellow: #f2bc3b;

/* Adaptive */
$mobile: "(max-width: 565px)";
$tablet: "(max-width: 991px)";
$notebook: "(max-width: 1199px)";

