.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 1000px;
  padding-top: 120px;
  position: relative;
  overflow: hidden;


  background: url("../images/intro_bg.jpg") center no-repeat;
  background-size: cover;

  @media #{$tablet} {
    height: auto;
  }
}

.intro__inner {
  width: 100%;
  max-width: 770px;

  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 6rem;
  font-family: 'Varela Round', sans-serif;

  @media #{$tablet} {
    font-size: 4rem;
  }

  @media #{$mobile} {
    font-size: 2.5rem;
  }
}

.intro__text {
  margin-top: 6rem;
  margin-bottom: 6rem;

  color: $darkgray;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 400;

  @media #{$tablet} {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0 3rem;
  }

  @media #{$mobile} {
    font-size: 1.2rem;
  }
}
