.plan {
  display: flex;
  align-items: center;

  @media #{$notebook} {
    margin: 0 2rem;
  }

  @media #{$tablet} {
    flex-direction: column;
  }

  @media #{$mobile} {
    margin: 0;
  }
}

.plan-left {
  width: 50%;

  @media #{$notebook} {
    margin-right: 1rem;
  }

  @media #{$tablet} {
    width: 100%;
    padding: 0 3rem;
  }
}

.plan__title {
  margin-bottom: 5rem;


  font-size: 4.2rem;
  font-family: 'Varela Round', sans-serif;

  @media #{$tablet} {
    margin-bottom: 2.5rem;
  }

  @media #{$mobile} {
    font-size: 2.5rem;
  }
}

.plan__subtitle {
  margin-bottom: 1.5rem;

  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.plan__selector {
  margin-bottom: 6rem;

  width: 250px;

  display: flex;
  justify-content: center;

  border-radius: 30px;
  border: 1px $gray solid;

  transition: .4s;

  @media #{$tablet} {
    margin-bottom: 3rem;
  }
}

.plan__switch {
  padding: 1rem;
  margin: .6rem 1rem;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 122px;
  height: 40px;

  border-radius: 30px;
  border: none;
  cursor: pointer;


  font-size: 1.6rem;
  color: $gray;

  transition: .4s;
}

.plan__switch.active {
  color: $black;

  box-shadow: -2px 2px 20px 0 #ccc;
  transform: scale(1.09);
  background-color: #fff;
}


.plan__text {
  margin-bottom: 5rem;

  font-size: 2rem;
  font-weight: 400;
  color: $darkgray;

  @media #{$tablet} {
    margin-bottom: 2.5rem;
  }

  @media #{$mobile} {
    font-size: 1.2rem;
  }
}

.plan__info {
  font-size: 1.4rem;
  font-weight: 400;
  color: $darkgray;

  & a {
    text-decoration: none;
  }

  a:hover {
    color: #267df4;
  }
}


.plan-right {
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;

  @media #{$notebook} {
    margin-left: 1rem;
  }

  @media #{$tablet} {
    margin-top: 3rem;
    margin-left: 0;
  }

  @media #{$mobile} {
    display: block;
    margin-top: 1.5rem;
  }
}

.plan__card {
  display: block;

  width: 340px;
  height: 550px;

  border-radius: 10px;
  background: #fff;

  &--gray {
    width: 340px;
    height: 510px;

    background: #d8d8d8;

    @media #{$mobile} {
      width: 300px;
    }
  }

  @media #{$mobile} {
    margin: 0 auto;
    padding: 1rem 0;
  }
}

.plan__card__title {
  margin: 3rem 0;

  font-size: 3.2rem;
  font-weight: 400;
}

.plan__card__bage {
  display: inline-block;

  margin-bottom: 6rem;
  padding: 1rem 1.5rem;

  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 20px;
  border: 1px $gray solid;
}

.plan__card__text {
  padding: 0 8rem;

  font-size: 2rem;
  font-weight: 400;
  color: $darkgray;
}

.plan__card__feature {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0;

  list-style: none;

  & li {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
}


